@media (min-width: 992px) {
  .w-lg-500px {
    width: 500px !important;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-row-fluid {
  flex: 1 auto;
  min-width: 0;
}

.flex-column-fluid {
  flex: 1 0 auto;
}

@media (min-width: 992px) {
  .flex-lg-row-fluid {
    flex: 1 auto;
    min-width: 0;
  }

  .flex-lg-column-fluid {
    flex: 1 0 auto;
  }
}

.mt-30px {
    margin-top: 30px;
}